asgiref==3.5.2
certifi==2022.9.24
charset-normalizer==2.1.1
coloredlogs==15.0.1
Django==4.1.2
django-solo==2.0.0
djangorestframework==3.14.0
flatbuffers==22.9.24
humanfriendly==10.0
idna==3.4
mpmath==1.2.1
mss==6.1.0
numpy==1.23.3
onnxruntime==1.12.1
opencv-python==4.6.0.66
oschmod==0.3.12
packaging==21.3
Pillow==9.2.0
protobuf==4.21.7
psutil==5.9.2
pynput==1.7.6
pyparsing==3.0.9
pyreadline3==3.4.1
pytz==2022.4
pywin32==304
requests==2.28.1
six==1.16.0
sqlparse==0.4.3
sympy==1.11.1
tzdata==2022.4
urllib3==1.26.12