asgiref==3.5.2
coloredlogs==15.0.1
Django==4.1.1
flatbuffers==2.0.7
humanfriendly==10.0
mpmath==1.2.1
mss==6.1.0
numpy==1.23.3
onnxruntime==1.12.1
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
protobuf==4.21.6
psutil==5.9.2
pyparsing==3.0.9
pyreadline3==3.4.1
pywin32==304
sqlparse==0.4.2
sympy==1.11.1
tzdata==2022.2