click==8.1.3
Flask==2.2.2
marshmallow==3.18.0
mss==6.1.0
numpy==1.23.4
onnxruntime==1.12.1
opencv_python==4.6.0.66
oschmod==0.3.12
peewee==3.15.3
Pillow==9.2.0
psutil==5.9.3
pywin32==304
requests==2.28.1
